<p>Guten Tag {{ user_name }}</p>
<p>
    Vielen Dank für die Registration zur Applikation «GEOL_BIM Server»!
</p>
<p>
    Damit Sie den GEOL_BIM Server nutzen können, müssen Sie Ihre E-Mail Adresse mit folgendem Link bestätigen:
</p>
<p>
    <a href="{{ url }}">Auf diesen Link klicken, um Ihre E-Mail Adresse bestätigen</a>
</p>
<p>
    Wir freuen uns Sie betreffend Ihren Erfahrungen mit dem GEOL_BIM Server zu kontaktieren. Wir wünschen Ihnen viel Vergnügen.
</p>
<p>
    Freundliche Grüsse,<br />
    Ihr GEOL_BIM Team
</p>
